* {
    box-sizing: border-box;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#logo {
    height: 100%;
}

#logo:hover{
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
    height: 50px;
}

#banner {
    padding-left: 0;
    padding-right: 0;
}

#banner div {
    color: #fff;
    padding-left: 0;
    padding-right: 0;
    padding-top: 7rem;
    padding-bottom: 7rem;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
    border-radius: 0;
}

#banner a:link {
    color: #124981   
}

#instructions-container h3{
    margin-top: 0px;
}

#diagram-container{
    border-style: dashed;
    border-radius: 10px;
    padding: 1rem;
    min-height: 100%;
    max-width: 80%;

}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.ttl-line{
    margin: 0px;
}

#output-container{
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    height: 350px;
    overflow: scroll;
    margin-bottom: 10px;
}

#submit-buttons{
    display: flex;
    justify-content: center;
}
footer{
    margin-top: 30px;
    margin-bottom: 30px;
}